/* ---- variables ---- */
/* ---- Mixins ---- */
/* ---- Header ---- */
.head__grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 150px 1fr;
}
.head__grid--color {
  color: #2c698d;
}

.grid__list {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  list-style: none;
}

.grid__main {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.text__size {
  width: 420px;
}

.footer__style {
  text-align: center;
}

/* ---- Main ---- */
/* ---- Footer ---- */