/* ---- variables ---- */
/* ---- Mixins ---- */
/* ---- Header ---- */
.head__grid {
  background-color: #fff;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 0.2fr 1fr 0.2fr;
  margin: 20px 0;
}
.head__grid--color {
  color: #2c698d;
  margin-left: 44px;
}
.button__style {
  background-color: gray;
  border-radius: 6px;
  border: none;
  color: lightblue;
  height: 32px;
  margin: auto;
  width: 50%;
}

.button__style--main {
  width: 24%;
}

.grid__list {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  list-style: none;
}

.grid__main {
  align-items: center;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-items: center;
  height: 100vh;
  width: 100vw;
}

.text__size {
  width: 70%;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.footer__style {
  text-align: center;
}

img {
  width: 80%;
}

/* ---- Main ---- */
/* ---- Footer ---- */